<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91340592431-15g2tk5ic2ei9ch2r830nr0093s2vdtk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91340592431-15g2tk5ic2ei9ch2r830nr0093s2vdtk</string>
	<key>API_KEY</key>
	<string>AIzaSyDSRR1lryl68srmN94_33JVobwGvBmbyic</string>
	<key>GCM_SENDER_ID</key>
	<string>91340592431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.habil.SwiftUIFirebase</string>
	<key>PROJECT_ID</key>
	<string>swiftfirebase-f426d</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftfirebase-f426d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91340592431:ios:0c5bf822d572bf5b557dda</string>
</dict>
</plist>